In [1]:
import pandas as pd

In [ ]:
#PVT properties for wet gas

In [2]:
pvt_wet_gas = {'P,Mpa': [71.07, 67.62, 64.17, 60.72, 57.27, 53.82,
                         50.37, 46.92, 43.47, 40.02, 36.57, 33.12, 
                         29.67, 26.22, 22.77, 19.32, 15.87, 12.42,
                         8.97, 7.25, 5.52, 5.09, 2.07], 
                'Bg, rm3/kstm3': [2.81, 2.86, 2.92, 2.99, 3.06, 3.14, 3.24,
                         3.35, 3.49, 3.64, 3.82, 4.04, 4.32, 4.66,
                         5.17, 5.95, 7.13, 9.15, 12.69, 16.42, 20.16,
                         23.53, 47.11]}
df_pvt_gas = pd.DataFrame(data=pvt_wet_gas)
df_pvt_gas

    P,Mpa  Bg, rm3/kstm3
0   71.07           2.81
1   67.62           2.86
2   64.17           2.92
3   60.72           2.99
4   57.27           3.06
5   53.82           3.14
6   50.37           3.24
7   46.92           3.35
8   43.47           3.49
9   40.02           3.64
10  36.57           3.82
11  33.12           4.04
12  29.67           4.32
13  26.22           4.66
14  22.77           5.17
15  19.32           5.95
16  15.87           7.13
17  12.42           9.15
18   8.97          12.69
19   7.25          16.42
20   5.52          20.16
21   5.09          23.53
22   2.07          47.11

In [ ]:
#MBEfor wet gas

In [ ]:
#PVT properties for black oil

In [3]:
pvt_black_oil = {'P,Mpa': [13.80, 12.42, 11.73, 11.32, 11.04, 9.66, 8.28, 6.90, 5.52, 4.14, 2.76, 1.38],
                 'Bo, rm3/stm3': [1.467, 1.472, 1.475, 1.463, 1.453, 1.408, 1.359, 1.322, 1.278, 1.237, 1.194, 1.141], 
                 'Bg, rm3/kstm3': [0, 0, 0, 10.78, 11.10, 12.96, 15.33, 18.69, 23.37, 30.72, 43.72, 74.85],
                 'Rs, stm3/stm3': [149.34, 149.34, 149.34, 145.35, 142.20, 127.06, 110.60, 97.60, 82.64, 68.37, 52.97, 34.00]}
df_pvt_oil = pd.DataFrame(data=pvt_black_oil)
df_pvt_oil

    P,Mpa  Bo, rm3/stm3  Bg, rm3/kstm3  Rs, stm3/stm3
0   13.80         1.467           0.00         149.34
1   12.42         1.472           0.00         149.34
2   11.73         1.475           0.00         149.34
3   11.32         1.463          10.78         145.35
4   11.04         1.453          11.10         142.20
5    9.66         1.408          12.96         127.06
6    8.28         1.359          15.33         110.60
7    6.90         1.322          18.69          97.60
8    5.52         1.278          23.37          82.64
9    4.14         1.237          30.72          68.37
10   2.76         1.194          43.72          52.97
11   1.38         1.141          74.85          34.00